.edgebutton {
  width: 6px;
  height: 6px;
  background: #999;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 100%;
  font-size: 6px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}